CAMERA_IP_ADDRESS="192.168.1.2"
CAMERA_PORT="88" # "88" is a common default
CAMERA_USERNAME="admin1"
CAMERA_PASSWORD="password123"
CAMERA_STREAMNAME="videoMain" # "videoMain" or "videoSub"

RTMP_STREAM_KEY="xxxxx" # This is the secret bit
RTMP_STREAM_NAME="outx"